<%include functions.ejs%>
<!doctype html>
<html lang="en">
<head>
    <title>OWeek Info</title>
    <link rel="stylesheet" href="../css/misc.css" type="text/css">
</head>
<body>
<%outputNavigationButtons(true)%>
<div class="container">
    <div class="col-sm-6 col-sm-offset-3">
        <h1><span class="fa fa-sign-in"></span>Add User</h1>
        <form action="/sign_up" method="post" id="user_form">
            <div class="form-group">
                <label>First Name
                    <input type="text" class="form-control" name="first_name">
                </label>
            </div>
            <div class="form-group">
                <label>Last Name
                    <input type="text" class="form-control" name="last_name">
                </label>
            </div>
            <div class="form-group">
                <label>Email
                    <input type="text" class="form-control" name="email">
                </label>
            </div>
            <div class="form-group">
                <label>Password
                    <input type="password" class="form-control" name="password">
                </label>
            </div>
            <div class="form-group">
                <input type="radio" id="user" name="is_admin" value="user" checked>
                <label for="user">User</label>
                <input type="radio" id="admin" name="is_admin" value="admin">
                <label for="admin">Admin</label>
            </div>
            <input type="submit" class="btn btn-warning btn-lg" value="Submit">
        </form>
        <br>
    </div>
</div>
</body>
</html>