<!doctype html>
<html lang="en">
<head>
    <title>OWeek Info</title>
    <link rel="stylesheet" href="../css/errorScreen.css" type="text/css">
</head>
<body>
<div class="cover">
    <h1>Error
    </h1>
    <p class="lead">
        <%= errorMessage %>
    </p></div>
</body>
</html>
