<!-- views/users.ejs -->
<!doctype html>
<html>
<head>
    <title>OWeek Info</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <!-- load fontawesome -->
    <style>
        body {
            padding-top: 80px;
        }
    </style>
</head>
<body>
<div id="entryTable" class="container">
    <div style="position: relative;">
        <div style="float: right; display: inline; padding-right: 10px;"><a href="/logout"
                                                                            class="btn btn-default btn-sm">Logout</a>
        </div>
    </div>
    <div class="col-sm-6 col-sm-offset-3">
        <% var counter = 0 %>
        <% for (var i in groups){ %>
        <% if (counter == 0){ %>
        <tr>
            <% } %>
            <% if (counter > 7){ %>
        </tr>
        <% counter = 0 %>
        <% } else { %>
        <% counter++ %>
        <td>
            <form action="/onegroup" id="group_form" method="get">
                <button type="submit" value="<%= groups[i].groupNumber %>" name="groupNumber">Group <%=groups[i].groupNumber%></button>
            </form>
        </td>
        <% }} %>
    </div>

</div>
</body>
</html>