<% include functions.ejs %>
<!doctype html>
<html lang="en">
<head>
    <title>OWeek Info</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/table.css" type="text/css">
    <link rel="stylesheet" href="../css/misc.css" type="text/css">
</head>
<body>
<% outputNavigationButtons(true) %>
<div id="buttonDiv">
    <button onclick="location.href='/filter'" class="btn btn-default btn-sm">All</button>
</div>
<div class="page-header text-center">
    <h1><span class="fa"></span>Group <%= groupData.groupNumber + 1 %></h1>
</div>
<br>
Men: <%= groupData.menCount %>
Women: <%= groupData.womenCount %>
Total: <%= groupData.totalCount %><br>
<% outputRegistrationInfoTable(peopleInGroup, fields, headings, groupData) //just need filler for last arg, not used %>
</body>
</html>
