<% include functions.ejs %>
<% include assignments.ejs %>
<!doctype html>
<html lang="en">
<head>
    <title>OWeek Info</title>
    <link rel="stylesheet" href="../css/table.css" type="text/css">
    <link rel="stylesheet" href="../css/misc.css" type="text/css">
</head>
<body>
<% outputNavigationButtons(isAdmin) %>
<div class="page-header text-center">
    <h1><span class="fa"></span>Group <%= groupData.groupNumber + 1 %></h1>
</div>
<br>
Men: <%= groupData.menCount %>
Women: <%= groupData.womenCount %>
Total: <%= groupData.totalCount %><br>
<% outputRegistrationInfoTable(peopleInGroup, fields, headings, groupNumbers) //just need filler for last arg, not used  %>
</body>
</html>
