<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
    <title>OWeek Info</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <!-- load fontawesome -->
    <style>
        body {
            padding-top: 80px;
            background-image: url(https://engsoc.queensu.ca/wp-content/uploads/2017/03/10632853_10152373988386194_267163791267989862_n.jpg);
        }
    </style>
</head>
<body>
<div class="container">

    <div class="jumbotron text-center">
        <h1></span></span>EngSoc Orientation Registration Information</h1>
        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span>Login</a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span>Signup</a>
    </div>

</div>
</body>
</html>