<% include functions.ejs %>
<!doctype html>
<html lang="en">
<head>
    <title>OWeek Info</title>
    <link rel="stylesheet" href="../css/table.css" type="text/css">
    <link rel="stylesheet" href="../css/misc.css" type="text/css">
</head>
<body>
<% outputNavigationButtons(isAdmin) %>
<div class="container">
    <div class="page-header text-center">
        <% outputFilterButtons(isAdmin) %>
    </div>
    <% var entries = JSON.parse(wufoo) %>
    <div style="float:right">Rows: <%= entries.length %></div>
    <% outputSearchFields(fields, headings, operators) %>
</div>
<br>
<% outputRegistrationInfoTable(entries, fields, headings, groupNumbers) %>
</body>
</html>
