<!-- views/filter.ejs -->
<!doctype html>
<html>
<head>
    <title>Orientation Week Registration</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link href="/css/table.css" rel="stylesheet" type="text/css">
    <style>
        body {
            padding-top: 80px;
            word-wrap: break-word;
        }
    </style>
</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa"></span>Registration Information</h1>
        <a href="/allergies" class="btn btn-default btn-sm">Allergies</a>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>
    <table id="entryTable">
        <% var wufooJson = JSON.parse(wufoo); %>
        <% var entries = wufooJson['Entries']; %>
        <tr>
            <% for (var key in entries[0]){ %>
            <% if (entries[0].hasOwnProperty(key)){ %>
            <th><%= key %></th>
            <% } %>
            <% } %>
        </tr>
        <tr>
            <% for (var entry in entries){ %>
            <% if (entries.hasOwnProperty(entry)){ %>
            <% var obj = entries[entry] %>
            <% for (var valKey in obj){ %>
            <% if (obj.hasOwnProperty(valKey)){ %>
            <td><%= obj[valKey] %></td>
            <% } %>
            <% } %>
            <% } %>
            <% } %>
        </tr>
    </table>

</div>
</body>
</html>
